body {
    color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    line-height: 180%;
}

img {
    display: block;
    max-width: 100%;
}

input,
button {
    display: block;
    outline: none;
    border: none;
    font-family: inherit;
}

p,
ul,
li {
    display: block;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #fafafa;

}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1 0 auto;
}

.header {
    padding: 20px 0;
    background-color: rgba(32, 9, 78, 0.5);
}

.footer {
    padding: 20px 0;
    background-color: rgba(9, 3, 19, 0.5);
}
.logo {
    font-size: 40px;
    color: #fafafa;

}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item {
    margin-right: 40px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 18px;
    color: #fafafa;
}

.banner {
    position: relative;
}

.banner__body {
    background-repeat: no-repeat;
    background-size: cover;

}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #fff1eb 0%, #ace0f9 100%);
    opacity: 0.7;
}

.banner__content {
    padding: 100px 0;
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
}
.banner__title {
    font-size: 52px;
    margin-bottom: 18px;
}
.banner__description {
    font-size: 22px;
}

.card {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
.card__list {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}
.card__item {
    flex: 0 0 330px;
    padding:  0 15px;
}

.card__item-inner {
    flex-direction: column;
    box-shadow: 7px 10px 10px rgba(12, 11, 14, 20%);
    border-radius: 15px;
    border-bottom: 2px solid #6DD5FA;
    border-right: 2px solid #6DD5FA;
}

.card__item-img {
    flex: 1 0 auto;
}
.card__item-img img {
    border-radius: 15px 15px 0 0;

}

.card__item-info {
    padding: 20px 20px 30px;
}
.card__item-title {
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: 500;
    color: #2525a8;

}
.card__item-text {
    font-size: 17px;
    line-height: 1.3em;
    margin-bottom: 12px;
}
.card__item-price {
    padding-top: 12px;
    border-top: 1px solid #6DD5FA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card__item-price-text {
    font-size: 20px;
    font-weight: 500;
    color: #202028;

}
.card__item-price-value {
    font-size: 28px;
    font-weight: 500;
    color: #6DD5FA;
}

.form__content {
    padding: 100px 0;
}

.form__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__title {
    font-size: 52px;
    margin: 0 50px 0 0;
}
.form__field {
    border-top: 2px solid #6DD5FA;
    border-left: 2px solid #6DD5FA;
    display: flex;
    flex-direction: column;
    flex: 0 0 350px;
    padding: 40px;
    box-shadow: 0px 10px 10px rgba(12, 11, 14, 3%);
    border-radius: 15px;
    background: linear-gradient(133.69deg, rgba(255, 255, 255, 0.26) -10.95%, rgba(255, 255, 255, 0) 122.3%);
    backdrop-filter: blur(2px);
}
.inputfield {
    border: 1px solid #6DD5FA;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 5px 20px;
    color: #2525a8;
}
.main__btn {
    padding: 10px 35px;
    background-color: #6DD5FA;
    color: #fafafa;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;

}